@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
      'Noto Sans KR', 'Malgun Gothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply box-border;
  }

  body {
    @apply h-screen;
  }
}

html {
  scroll-behavior: smooth;
}

.hover-effect:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}

@keyframes coverleft {
  0% {
    transform: scaleX(1) skewX(30deg);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0) skewX(30deg);
    transform-origin: left;
  }
}

/* page transition */
#cover {
  background: #ffffff;
  z-index: 9999999;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 200%;
  height: 140%;
  transform-origin: left;
}
#cover.cover-left {
  animation: coverleft 2000ms both cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s forwards;
}

.box-shadow {
  box-shadow: 15px 7px 31px -3px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 15px 7px 31px -3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 7px 31px -3px rgba(0, 0, 0, 0.41);
}

.Skill_container:hover .Skill_label {
  visibility: visible;
  animation: fadeout1 0.3s;
  -moz-animation: fadeout1 0.3s; /* Firefox */
  -webkit-animation: fadeout1 0.3s; /* Safari and Chrome */
  -o-animation: fadeout1 0.3s; /* Opera */
}

.Skill_label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.825rem;
  color: white;
  visibility: hidden;
}

@keyframes fadeout1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
